<%- include public/adminHead.html %>
<div class="only-p text-right">
  <button class="btn btn-default" data-toggle="modal" data-target="#ip">新增</button>
</div>
<div class="tableBox">
  <table class="table table-bordered table-response table-hover table-primary">
    <thead>
      <tr>
        <th class="text-center">机房</th>
        <th class="text-center">IP</th>
        <th class="text-center text-primary">IP总数</th>
        <th class="text-center text-warning">未用地址</th>
        <th class="text-center text-success">已用地址</th>
        <th class="text-center">IP段信息</th>
        <th class="text-center">修改/删除</th>
      </tr>
    </thead>
    <tbody>
      <% if(ipEngineRoomDocs){ %>
        <% ipEngineRoomDocs.forEach(function(ipEngineData){ %>
          <tr class="text-center">
            <td><%= ipEngineData.ipRoom.engineName %></td>
            <td>
              <a href="/pid?id=<%= ipEngineData._id %>">
              <%= ipEngineData.ipStart %> ~ <%= ipEngineData.ipEnd %>
              </a>
            </td>
            <td class="text-primary textSize"><%= ipEngineData.ip.length %></td>
            <td class="text-warning textSize">
              <% var noMark = 0; ipEngineData.ip.forEach(function(data){ %>
                <% if(data.ipMark == false){ noMark++ }  %>
              <% }) %>
              <%= noMark %>
            </td>
            <td class="text-success textSize">
              <%= (ipEngineData.ip.length) - (noMark) %>
            </td>
            <td>
              <span data-toggle="tooltip" data-placement="bottom" title="<%= ipEngineData.ipsMessage %>">
                <%= ipEngineData.ipsMessage.slice(0,6); %>...
              </span>
            </td>
            <td>
              <a class="updateBtnId" data-toggle="modal" data-target="#updateIp" data-id="<%= ipEngineData._id %>">
                <i class="fa fa-edit"></i>
              </a>
              <a class="deleteBtn" href="ip/delete/?id=<%= ipEngineData._id %>">
                <i class="fa fa-trash-o"></i>
              </a>
            </td>
          </tr>
        <% }) %>
      <% } %>
    </tbody>
  </table>
</div>
<!--弹出框模态层-->
<div class="modal fade" id="ip" tabindex="-1" role="dialog" aria-labelledby="ip" aria-hidden="true">
  <div class="modal-dialog">
    <!--modal 盒子 begin-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">
          IP地址池管理
        </h4>
      </div>
      <form class="ipForm" action="/ip" method="post">
        <div class="modal-body">
          <div class="form-group">
            <label for="ipStart">IP启始地址：</label>
            <input id="ipStart" class="form-control" type="text" name="ipStart">
          </div>
          <div class="form-group">
            <label for="ipEnd">IP结束地址：</label>
            <input id="ipEnd" class="form-control" type="text" name="ipEnd">
          </div>
          <div class="form-group">
            <label for="ipRoom">IP地址所属机房：</label>
            <select name="ipRoom" id="ipRoom">
              <% if(engineDocs){ %>
                <% engineDocs.forEach(function(engineData){ %>
                  <option value="<%= engineData._id %>"><%= engineData.engineName %></option>
                <% }) %>
              <% } %>
            </select>
          </div>
          <div class="form-group">
            <label for="ipsMessage">IP地址段备注信息: </label>
            <textarea name="ipsMessage" id="ipsMessage" cols="30" rows="10" class="form-control" placeholder="写点东西吧"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="submitBtn btn btn-primary">保存IP地址</button>
        </div>
      </form>
    </div>
    <!--modal 盒子 end-->
  </div>
</div>
<!--更新弹出框模态层-->
<div class="modal fade" id="updateIp" tabindex="-1" role="dialog" aria-labelledby="updateIp" aria-hidden="true">
  <div class="modal-dialog">
    <!--modal 盒子 begin-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">
          IP地址池更新
        </h4>
      </div>
      <form class="updateForm" action="/ip/update" method="post">
        <div class="modal-body">
          <div class="form-group">
            <label for="updateIpRoom">IP地址所属机房：</label>
            <select name="updateIpRoom" id="updateIpRoom">
              <% if(engineDocs){ %>
              <% engineDocs.forEach(function(engineData){ %>
              <option value="<%= engineData._id %>"><%= engineData.engineName %></option>
              <% }) %>
              <% } %>
            </select>
          </div>
          <div class="form-group">
            <label for="updateIpsMessage">IP地址段备注信息: </label>
            <textarea name="ipsMessage" id="updateIpsMessage" cols="30" rows="10" class="form-control" placeholder="更新内容"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="updateBtn btn btn-primary">Update IP</button>
        </div>
      </form>
    </div>
    <!--modal 盒子 end-->
  </div>
</div>
<!--ajax回调信息-->
<div class="ajaxMessage">
  <h4>提示信息</h4>
  <p class="ajaxText"></p>
  <p class="ajaxDissmiss">
    <button type="button" class="btn btn-info">关闭</button>
  </p>
  <div class="clearfix"></div>
</div>
<%- include public/adminFooter.html %>
<script type="text/javascript">
  $(function(){
    //激活jq插件
    $("[data-toggle='tooltip']").tooltip({
      placement: 'bottom'
    }); 
    //获取表单提交按钮
    var submitBtn = $('.submitBtn'),
      deleteBtn = $('.deleteBtn');
    //点击事件准备提交
    submitBtn.bind('click',function(e){
      e.stopPropagation();
      //获取form表单序列化后的值
      var ipForm = $('.ipForm'),
        formData = ipForm.serialize(),
        alertMessage = $('.ajaxMessage'),
        ajaxContainer = alertMessage.find('.ajaxText'),
        ajaxClose = alertMessage.find('.ajaxDissmiss .btn');
      //发送ajax信息
      $.ajax({
        url:'ip',
        type:'post',
        dataType:'json',
        data:formData,
        success:function(data,status){
          if(status == 'success'){
            if(data.postStatus === 'success'){
              //注册完成
              alert(data.msg);
              //准备跳转到指定页面
              var urls = window.location.host,
                urlPath = window.location.pathname;
              return window.location.href = 'http://' + urls + urlPath;
            }else{
              //返回ajax回调信息
              alertMessage.addClass('AjaxBlock');
              ajaxContainer.text(data.msg);
              ajaxClose.on('click',function(e){
                e.stopPropagation();
                alertMessage.removeClass('AjaxBlock')
              });
              return false;
            }
          }
        },
        error:function(err){
          return console.log(err);
        }
      });
    });
    //------------------删除信息
    deleteBtn.bind('click',function(e){
      e.stopPropagation();
      var thisUrl = $(this).attr('href');
      if(confirm('您确定要删除此数据吗?')){
        //确定删除
        window.location.href = thisUrl;
      }else{
        return false;
      }
    });
    //-------------------ip地址池更新数据
    var updateBtn = $('.updateBtn'),
        updateBtnId = $('.updateBtnId');
    updateBtnId.bind('click',function(e){
      e.preventDefault();
      var id = $(this).attr('data-id');
      updateBtn.bind('click',function(e){
        e.stopPropagation();
        var updateForm = $('.updateForm'),
          updateRoom = $('#updateIpRoom').val(),
          updateMessage = $('#updateIpsMessage').val(),
          alertMessage = $('.ajaxMessage'),
          ajaxContainer = alertMessage.find('.ajaxText'),
          ajaxClose = alertMessage.find('.ajaxDissmiss .btn'),
          formData = {
            'ipRoom':updateRoom,
            'ipsMessage':updateMessage,
            'updateId': id
          };
        //发送ajax
        $.ajax({
          url:'ip/update',
          type:'post',
          dataType:'json',
          data:formData,
          success:function(data,status){
            if(status == 'success'){
              if(data.postStatus === 'success'){
                //注册完成
                alert(data.msg);
                //准备跳转到指定页面
                var urls = window.location.host,
                  urlPath = window.location.pathname;
                return window.location.href = 'http://' + urls + urlPath;
              }else{
                //返回ajax回调信息
                alertMessage.addClass('AjaxBlock');
                ajaxContainer.text(data.msg);
                ajaxClose.on('click',function(e){
                  e.stopPropagation();
                  alertMessage.removeClass('AjaxBlock')
                });
                return false;
              }
            }
          },
          error:function(err){
            return console.log(err);
          }
        });
      });
    });
  });
</script>