<%- include public/header.html %>
<!--用户登录页面模板 begin-->
<section class="loginContainer">
  <!--用户登陆窗口 begin-->
  <div class="loginBox">
    <header class="header_title">
      <h1>
        IDC机房资源管理系统
      </h1>
    </header>
    <!--form表单 begin-->
    <form class="loginForm" action="/login" method="post">
      <label>
        <input class="form-control formUser" type="text" name="username" placeholder="用户名">
        <span class="formIcon">
          <i class="fa fa-user"></i>
        </span>
      </label>
      <label>
        <input class="form-control formUser" type="password" name="password" placeholder="密码">
        <span class="formIcon">
          <i class="fa fa-lock"></i>
        </span>
      </label>
      <label>
        <input class="form-control loginBtn" type="button" name="loginBtn" value="SIGN IN">
      </label>
    </form>
    <!--form表单结束 end-->
    <p class="toReg">
      没有账号,
      <a href="/reg">立即注册?</a>
    </p>
  </div>
  <!--用户登录框口 end-->
  <div class="ajaxMessage">
    <h4>提示信息</h4>
    <p class="ajaxText"></p>
    <p class="ajaxDissmiss">
      <button type="button" class="btn btn-info">关闭</button>
    </p>
    <div class="clearfix"></div>
  </div>
</section>
<!--用户登录页面模板 end-->
<%- include public/footer.html %>
<script type="text/javascript">
  $(function(){
    //获取登录按钮
    var regBtn = $('.loginBtn');

    regBtn.on('click',function(e){
      e.stopPropagation();
      //获取序列化后的信息
      var formText = $('.loginForm').serialize(),
          alertMessage = $('.ajaxMessage'),
          ajaxContainer = alertMessage.find('.ajaxText'),
          ajaxClose = alertMessage.find('.ajaxDissmiss .btn');
      $.ajax({
        url:'login',
        type:'post',
        dataType:'json',
        data:formText,
        success:function(data,status){
          if(status == 'success'){
            if(data.postStatus === 'success'){
              //准备跳转到指定页面
              var urls = window.location.host;
              return window.location.href = 'http://' + urls;
            }else{
              //返回ajax回调信息
              alertMessage.addClass('AjaxBlock');
              ajaxContainer.text(data.msg);
              ajaxClose.on('click',function(e){
                e.stopPropagation();
                alertMessage.removeClass('AjaxBlock')
              });
              return ;
            }
          }
        },
        error:function(error){
          console.log(error);
        }
      });
    });
  });
</script>