<%- include public/adminHead.html %>
<div class="only-p text-right">
  <div class="row">
    <div class="col-lg-4 col-md-5 col-xs-6 col-sm-6 pull-right">
      <div class="input-group">
        <span class="input-group-btn">
          <button class=" searchBtn btn btn-default" type="button">Search</button>
        </span>
        <input class="form-control searchStr" type="search" name="searchStr">
      </div>
    </div>
  </div>
</div>
<div id="tableBox">
  <form class="updateBox" action="update/ip" method="post">
    <table class="tabList table table-bordered table-response table-hover table-primary">
      <thead>
      <tr>
        <th class="text-center">选择</th>
        <th class="text-center text-info">IP地址</th>
        <th class="text-center text-primary">是否启用</th>
        <th class="text-center text-warning">服务器编号</th>
        <th class="text-center text-success">IP地址用途</th>
        <th class="text-center">IP信息备注</th>
        <th class="text-center">是否可见</th>
      </tr>
      </thead>
      <tbody>
      <% if(ipDocs){ %>
      <% ipDocs.forEach(function(ipData){ %>
        <tr class="text-center clickCheckbox">
          <td> <input type="checkbox" name="uid" value="<%= ipData.ip %>"> </td>
          <td class="text-info">
            <%= ipData.ip %>
          </td>
          <td class="text-primary">
            <% if(ipData.ipMark == false){ %>
              <span class="text-success">未用</span>
            <% }else{ %>
              <span style="color:red">已用</span>
            <% } %>
          </td>
          <td class="text-warning">
            <% if(!ipData.server){ %>
            服务器编号为空
            <% }else{ %>
            <a href="server/<%= ipData.server %>"><%= ipData.server %></a>
            <% } %>
          </td>
          <td class="text-success">
            <% if(!ipData.ipUse){ %>
            无用途
            <% }else{ %>
            <%= ipData.ipUse.useName %>
            <% } %>
          </td>
          <td>
            <% if(!ipData.ipInfo) { %>
            暂无备注信息
            <% }else{ %>
            <span data-toggle="tooltip" data-placement="buttom" title="<%= ipData.ipInfo %>">
              <%= ipData.ipInfo.slice(0,6) %> ...
            </span>
            <% } %>
          </td>
          <td>
            <% if(ipData.ipDisplay == false){ %>
            不可见
            <% }else{ %>
            可见
            <% } %>
          </td>
        </tr>
      <% }) %>
      <% } %>
      </tbody>
    </table>
  </form>
  <span>
    <input type="checkbox" class="checkboxAllS" name="checkboxAllS" style="vertical-align: middle;margin-left: 10px;">全选
  </span>
  <div class="btn-group pull-right">
    <% if(!isFirstPage) { %>
      <a class="pageBtn btn btn-default" href="?id=<%= ipDocs[0].big_id %>&page=<%= page-1 %>">上一页</a>
    <% } %>
    <% if(!isLastPage) { %>
      <a class="pageBtn btn btn-default" href="?id=<%= ipDocs[0].big_id %>&page=<%= page+1 %>">下一页</a>
    <% } %>
    <button class="btn btn-info" type="button" data-toggle="modal" data-target="#allUpdate">更新IP地址信息</button>
  </div>
  <div class="modal fade" id="allUpdate" tabindex="-1" role="dialog" aria-labelledby="allUpdate" aria-hidden="true">
    <div class="modal-dialog">
      <!--modal 盒子 begin-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span>
          </button>
          <h4 class="modal-title">
            批量更新ip
          </h4>
        </div>
        <form id="tipBox" action="update/ip" method="post">
          <div class="modal-body">
            <div class="form-group">
              <label for="updateIpMark">是否启用: </label>
              <input class="from-control" type="radio" id="updateIpMark" name="updateIpMark" value="true">是
              <input class="from-control" type="radio" name="updateIpMark" value="false" checked>否
            </div>
            <div class="form-group">
              <label for="updateIpDisabled">是否启用: </label>
              <input class="from-control" type="radio" id="updateIpDisabled" name="updateIpDisabled" value="true">可见
              <input class="from-control" type="radio" name="updateIpDisabled" value="false" checked>不可见
            </div>
            <div class="form-group">
              <label for="updateIpsMessage">IP地址段备注信息: </label>
              <textarea name="ipsMessage" id="updateIpsMessage" cols="30" rows="10" class="form-control" placeholder="更新内容"></textarea>
            </div>
            <div class="form-group">
              <label for="updateUse">用途更新: </label>
              <select name="updateUse" id="updateUse">
                <% if (useDocs) { %>
                <% useDocs.forEach(function(data){ %>
                <option value="<%= data._id %>"><%= data.useName %></option>
                <% }) %>
                <% } %>
              </select>
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="updateBtns btn btn-primary">Update IP</button>
        </div>
      </div>
      <!--modal 盒子 end-->
    </div>
  </div>
  <!--查询信息-->
  <hr class="h">
  <form class="updateBox" action="update/ip" method="post">
  <div class="ajaxCallback">
    <table class="table table-bordered table-response table-hover table-primary">
      <thead>
      <tr>
        <th class="text-center text-info">选择</th>
        <th class="text-center text-info">IP地址</th>
        <th class="text-center text-primary">是否启用</th>
        <th class="text-center text-warning">服务器编号</th>
        <th class="text-center text-success">IP地址用途</th>
        <th class="text-center">IP信息备注</th>
        <th class="text-center">是否可见</th>
      </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <td class="td0"></td>
          <td class="td1"></td>
          <td class="td2"></td>
          <td class="td3">
            <a href=""></a>
          </td>
          <td class="td4"></td>
          <td class="td5"></td>
          <td class="td6"></td>
        </tr>
      </tbody>
    </table>
  </div>
</form>
</div>
<!--弹出框模态层-->
<!--ajax回调信息-->
<div class="ajaxMessage">
  <h4>提示信息</h4>
  <p class="ajaxText"></p>
  <p class="ajaxDissmiss">
    <button type="button" class="btn btn-info">Close</button>
  </p>
  <div class="clearfix"></div>
</div>
<%- include public/adminFooter.html %>
<script type="text/javascript">
  $(function(){
    $("[data-toggle='tooltip']").tooltip({
      placement: 'right'
    });
    var searchBtn = $('.searchBtn'),
        updateBtn = $('.updateBtns'),
        alertMessage = $('.ajaxMessage'),
        ajaxContainer = alertMessage.find('.ajaxText'),
        ajaxClose = alertMessage.find('.ajaxDissmiss .btn'),
        checkboxAllS = $('.checkboxAllS');
    //全选按钮
    checkboxAllS.bind('click',function(e){
      e.stopPropagation();
      //全选按钮
      $(".tabList tr td input[type='checkbox']").attr('checked','checked');
    });
    searchBtn.bind('click',function(e){
      e.stopPropagation();
      var formData = $('.searchStr').val();
      $.ajax({
        type:'post',
        url:'pid/newId',
        dataType:'json',
        data:{
          stringStr:formData
        },
        success:function(data,status){
          if(status == 'success'){
            if(data.postStatus === 'success'){
              if(data.msg == null){
                alert('查询失败此IP地址不存在')
              }else{
                //更新页面
                $('.tabList').css({'display':'none'});
                $('.pageBtn').css({'display':'none'});
                $('.ajaxCallback').css({'display':'block'});
                $('.ajaxCallback .td0').html('<input type="checkbox" name="uid" value="'+ data.msg.ip +'">');
                $('.ajaxCallback .td1').text(data.msg.ip);
                if(data.msg.ipMark == false){
                  $('.ajaxCallback .td2').text('未启用');
                }else{
                  $('.ajaxCallback .td2').text('已启用');
                };
                if(!data.msg.server){
                  $('.ajaxCallback .td3').text('未定义服务器');
                }else{
                  $('.ajaxCallback .td3 a').text(data.msg.server).attr('href','/server/'+data.msg.server);
                };
                if(!data.msg.ipUse){
                  $('.ajaxCallback .td4').text('无用途');
                }else{
                  $('.ajaxCallback .td4').text(data.msg.ipUse.useName);
                };
                if(!data.msg.ipInfo){
                  $('.ajaxCallback .td5').text('无备注信息');
                }else{
                  $('.ajaxCallback .td5').text(data.msg.ipInfo);
                };
                if(data.msg.ipDisplay == false){
                  $('.ajaxCallback .td6').text('不可见');
                }else{
                  $('.ajaxCallback .td6').text('可见');
                }
              }
            }else{
              //返回ajax回调信息
              alertMessage.addClass('AjaxBlock');
              ajaxContainer.text(data.msg);
              ajaxClose.on('click',function(e){
                e.stopPropagation();
                alertMessage.removeClass('AjaxBlock')
              });
              return false;
            }
          }
        },
        error:function(err){
          console.log(err)
        }
      });
    });
    //更新数据
    updateBtn.bind('click',function(e){
      e.stopPropagation();
      var idData = $('.updateBox').serialize(),
          infoData = $('#tipBox').serialize();
      $.ajax({
        url:'update/ip',
        type:'post',
        dataType:'json',
        data:{idData,infoData},
        success:function(data,status){
          if(status == 'success'){
            if(data.postStatus === 'success'){
              //注册完成
              alert(data.msg);
              //准备跳转到指定页面
              var urls = window.location.host,
                  urlPath = window.location.pathname,
                  searchUrl = window.location.search;
              return window.location.href = 'http://' + urls + urlPath + searchUrl;
            }else{
              //返回ajax回调信息
              alertMessage.addClass('AjaxBlock');
              ajaxContainer.text(data.msg);
              ajaxClose.on('click',function(e){
                e.stopPropagation();
                alertMessage.removeClass('AjaxBlock')
              });
              return false;
            }
          }
        },
        error:function(err){
            console.log(err)
        }
      });
    });
  });
</script>
