<%- include public/adminHead.html %>
<div class="only-p text-right">
</div>
<div class="tableBox">
  <table class="table table-bordered table-response table-hover table-primary">
    <thead>
    <tr>
      <th class="text-center" colspan="2">服务器详情配置表</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>编号</td>
        <td>
          <% if(serverDocs){ %>
          <%= serverDocs.serverId %>
          <% } %>
        </td>
      </tr>
      <tr>
        <td>状态</td>
        <td>
          <% if(serverDocs){ %>
          <% if(serverDocs.serverMark == false){ %>
          <span class="text-success">未使用</span>
          <% }else{ %>
          <span style="color:red;font-weight: bold;">已使用</span>
          <% } %>
          <% } %>
        </td>
      </tr>
      <tr>
        <td>机柜</td>
        <td>
          <% if(serverDocs){ %>
          <% if(!serverDocs.serverCab){ %>
          未添加机柜信息
          <% }else{ %>
          <%= serverDocs.serverCab.cabinetsId %>
          <% } %>
          <% } %>
        </td>
      </tr>
      <tr>
        <td>cpu</td>
        <td>
          <% if(serverDocs){ %>
          <%= serverDocs.cpu %>
          <% } %>
        </td>
      </tr>
      <tr>
      <tr>
        <td>主板</td>
        <td>
          <% if(serverDocs){ %>
          <%= serverDocs.board %>
          <% } %>
        </td>
      </tr>
      <tr>
        <td>内存</td>
        <td>
          <% if(serverDocs){ %>
          <%= serverDocs.memories %>
          <% } %>
        </td>
      </tr>
      <tr>
        <td>硬盘</td>
        <td>
          <% if(serverDocs){ %>
          <%= serverDocs.yd %>
          <% } %>
        </td>
      </tr>
      <tr>
        <td>网卡</td>
        <td>
          <% if(serverDocs){ %>
          <%= serverDocs.nic %>
          <% } %>
        </td>
      </tr>
      <tr>
        <td>带宽</td>
        <td>
          <% if(serverDocs){ %>
          <%= serverDocs.bandwidth %>
          <% } %>
        </td>
      </tr>
      <tr>
        <td>ip地址</td>
        <td>
          <% if(serverDocs){ %>
          <%= serverDocs.ip %>
          <% } %>
        </td>
      </tr>
      <tr>
        <td>成本价格</td>
        <td>
          <% if(serverDocs){ %>
          <%= serverDocs.price %>
          <% } %>
        </td>
      </tr>
	  <tr>
		<td>备注信息</td>
		<td>
			<% if(serverDocs.serverInfo){ %>
			<%= serverDocs.serverInfo %>
			<% } %>
		</td>
	  </tr>
      <tr>
        <td>服务器上架时间</td>
        <td>
          <% if(serverDocs.shelvesTime){ %>
          <%= serverDocs.shelvesTime.toLocaleDateString() %>
          <% }else{ %>
          上架时间为空
          <% } %>
        </td>
      </tr>
      <tr>
        <td>服务器起租时间</td>
        <td>
          <% if(serverDocs.startTime){ %>
          <%= serverDocs.startTime.toLocaleDateString() %>
          <% }else{ %>
          未添加时间
          <% } %>
        </td>
      </tr>
      <tr>
        <td>服务器到期时间</td>
        <td>
          <% if(serverDocs.endTime){ %>
          <%= serverDocs.endTime.toLocaleDateString() %>
          <% }else{ %>
          未添加时间
          <% } %>
        </td>
      </tr>
      <tr>
        <td>服务器下架时间</td>
        <td>
          <% if(serverDocs.formSaleTime){ %>
          <%= serverDocs.formSaleTime.toLocaleDateString() %>
          <% }else{ %>
          未添加时间
          <% } %>
        </td>
      </tr>
      <tr>
        <td>续费时间</td>
        <td>
          <% if(serverDocs.renew.renewTime){ %>
          <%= serverDocs.renew.renewTime.toLocaleDateString() %>
          <% }else{ %>
          未添加时间
          <% } %>
        </td>
      </tr>
      <tr>
        <td>续费价格</td>
        <td>
          <% if(serverDocs){ %>
          <%= serverDocs.renew.renewPrice %>
          <% } %>
        </td>
      </tr>
    <tr>
      <td>管理地址</td>
      <td>
        <% if(serverDocs){ %>
        <a href="<%= serverDocs.serverAdmin.serverUrl %>">管理地址：<%= serverDocs.serverAdmin.serverUrl %></a>
        <% } %>
      </td>
    </tr>
    <tr>
      <td>管理帐号</td>
      <td>
        <% if(serverDocs){ %>
        <%= serverDocs.serverAdmin.serverUser %>
        <% } %>
      </td>
    </tr>
    <tr>
      <td>管理密码</td>
      <td>
        <% if(serverDocs){ %>
        <%= serverDocs.serverAdmin.serverPass %>
        <% } %>
      </td>
    </tr>
    </tbody>
    </table>
  </div>
<div class="tableBox">
  <table class="table table-bordered table-response table-hover table-primary">
    <thead>
    <tr>
      <th class="text-center">维护人: </th>
      <th class="text-center">维护时间: </th>
      <th class="text-center">维护记录: </th>
    </tr>
    </thead>
    <tbody>
    <% if(hostDocs) { %>
    <% hostDocs.forEach(function(data){ %>
      <tr>
        <td><%= data.server.serverName %></td>
        <td>
          <% if(data.server.serverTime){ %>
          <%= data.server.serverTime.toLocaleDateString() %>
          <% } %>
        </td>
        <td>
          <span data-toggle="tooltip" data-placement="bottom" title="<%= data.server.serverInfoS %>">
            <%= data.server.serverInfoS.slice(0,15) %>...
          </span>
        </td>
      </tr>
    <% }) %>
    <% } %>
    </tbody>
  </table>
</div>
<!--ajax回调信息-->
<div class="ajaxMessage">
  <h4>提示信息</h4>
  <p class="ajaxText"></p>
  <p class="ajaxDissmiss">
    <button type="button" class="btn btn-info">关闭</button>
  </p>
  <div class="clearfix"></div>
</div>
<%- include public/adminFooter.html %>
<script type="text/javascript">
  //激活jq插件
  $("[data-toggle='tooltip']").tooltip({
    placement: 'bottom'
  });
</script>