<%- include public/adminHead.html %>
<div class="only-p text-right">
  <button class="btn btn-default" data-toggle="modal" data-target="#use">新增</button>
</div>
<div class="tableBox">
  <table class="table table-bordered table-response table-hover table-primary">
    <thead>
    <tr>
      <th class="text-center">用途名称</th>
      <th class="text-center">删除</th>
    </tr>
    </thead>
    <tbody>
    <% if(docs) { %>
    <% docs.forEach(function(data){ %>
    <tr class="text-center">
      <td><%= data.useName %></td>
      <td><a class="deleteBtn" href="use/delete?id=<%= data._id %>"><i class="fa fa-trash-o"></i></a></td>
    </tr>
    <% }) %>
    <% } %>
    </tbody>
  </table>
</div>
<!--弹出框模态层-->
<div class="modal fade" id="use" tabindex="-1" role="dialog" aria-labelledby="use" aria-hidden="true">
  <div class="modal-dialog">
    <!--modal 盒子 begin-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title">
          用途添加
        </h4>
      </div>
      <form class="useForm" action="/use" method="post">
        <div class="modal-body">
          <div class="form-group">
            <label for="useName">用途名称：</label>
            <input id="useName" class="form-control" type="text" name="useName">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="submitBtn btn btn-primary">保存用途</button>
        </div>
      </form>
    </div>
    <!--modal 盒子 end-->
  </div>
</div>
<!--ajax回调信息-->
<div class="ajaxMessage">
  <h4>提示信息</h4>
  <p class="ajaxText"></p>
  <p class="ajaxDissmiss">
    <button type="button" class="btn btn-info">关闭</button>
  </p>
  <div class="clearfix"></div>
</div>
<%- include public/adminFooter.html %>
<script type="text/javascript">
  $(function(){
    //获取表单提交按钮
    var submitBtn = $('.submitBtn'),
      deleteBtn = $('.deleteBtn');
    //点击事件准备提交
    submitBtn.bind('click',function(e){
      e.stopPropagation();
      //获取form表单序列化后的值
      var useForm = $('.useForm'),
        formData = useForm.serialize(),
        alertMessage = $('.ajaxMessage'),
        ajaxContainer = alertMessage.find('.ajaxText'),
        ajaxClose = alertMessage.find('.ajaxDissmiss .btn');
      //发送ajax信息
      $.ajax({
        url:'use',
        type:'post',
        dataType:'json',
        data:formData,
        success:function(data,status){
          if(status == 'success'){
            if(data.postStatus === 'success'){
              //注册完成
              alert(data.msg);
              //准备跳转到指定页面
              var urls = window.location.host,
                urlPath = window.location.pathname;
              return window.location.href = 'http://' + urls + urlPath;
            }else{
              //返回ajax回调信息
              alertMessage.addClass('AjaxBlock');
              ajaxContainer.text(data.msg);
              ajaxClose.on('click',function(e){
                e.stopPropagation();
                alertMessage.removeClass('AjaxBlock')
              });
              return false;
            }
          }
        },
        error:function(err){
          return console.log(err);
        }
      });
    });
    //------------------删除信息
    deleteBtn.bind('click',function(e){
      e.stopPropagation();
      var thisUrl = $(this).attr('href');
      if(confirm('您确定要删除此数据吗?')){
        //确定删除
        window.location.href = thisUrl;
      }else{
        return false;
      }
    });
  });
</script>