<%- include public/adminHead.html %>
<div class="only-p text-right">
  <div class="row">
    <button type="button" class="createUser btn btn-default pull-right" data-toggle="modal" data-target="#createUser">新增用户</button>
    <div class="col-lg-6 col-md-6 col-sm-6 com-xs-6 pull-right">
      <div class="input-group">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">切换搜索 <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
            <li><a class="searchBtn" href="#">搜IP</a></li>
            <li><a class="searchIds" href="#">搜用户名</a></li>
          </ul>
        </div><!-- /btn-group -->
        <input type="text" name="searchStr" class="form-control searchStr">
      </div>
    </div>
  </div>
</div>
<div id="tableBox">
  <form class="userBox" action="/userList" method="post">
    <table class="tabList table table-bordered table-response table-hover table-primary">
      <thead>
      <tr>
        <th class="text-center">用户名称</th>
        <th class="text-center text-info">联系人姓名</th>
        <th class="text-center text-primary">联系人身份证</th>
        <th class="text-center text-warning">联系人电话号码</th>
        <th class="text-center text-success">联系人qq</th>
        <th class="text-center">联系人地址</th>
        <th class="text-center">联系人付款方式</th>
        <th class="text-center">所属的业务员</th>
        <th class="text-center">服务器</th>
        <th class="text-center">IP地址</th>
        <th class="text-center">是否付款</th>
        <th class="text-center">更新</th>
      </tr>
      </thead>
      <tbody>
      <% if(usersData){ %>
      <% usersData.forEach(function(data){ %>
        <% if(data.user.webName){ %>
        <tr>
          <td class="text-center"><%= data.user.webName %></td>
          <td class="text-center"><%= data.user.username %></td>
          <td class="text-center"><%= data.user.userCarded %></td>
          <td class="text-center"><%= data.user.userPhoneNumber %></td>
          <td class="text-center"><%= data.user.userQQ %></td>
          <td class="text-center"><%= data.user.userAddress %></td>
          <td class="text-center"><%= data.user.userPayment %></td>
          <td class="text-center"><%= data.user.userTo %></td>
          <td class="text-center">
            <% if(!data.user.serverTo){ %>
            未启用服务器
            <% }else{ %>
            <a href="/server/<%= data.user.serverTo.serverId %>"><%= data.user.serverTo.serverId %></a>
            <% } %>
          </td>
          <td class="text-center">
            <% if(!data.user.serverTo){ %>
            无服务器无IP地址
            <% }else{ %>
            <% data.user.serverTo.ip.forEach(function(datas){ %>
              <span><%= datas %></span><br />
            <% }) %>
            <% } %>
          </td>
          <td class="text-center">
            <% if(data.user.isPayment == true){ %>
            已付款
              <% }else{ %>
            未付款
            <% } %>
          </td>
          <td class="text-center">
            <a class="updateBtn" data-toggle="modal" data-target="#updateBox" href="" data-id="<%= data._id%>">
              <i class="fa fa-edit"></i>
            </a>
          </td>
        </tr>
        <% } %>
      <% }) %>
      <% } %>
      </tbody>
    </table>
  </form>
</div>
<!--新增用户开始-->
<div id="createUser" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createUseTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--模态框内容开始-->
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title" id="createUseTitle">用户添加</h4>
      </div>
      <div class="modal-body">
        <!--...................-->
        <form class="saveUse" action="/saveUse" method="post">
          <!--用户表单开始-->
          <div class="form-group">
            <label for="webName">用户名称: </label>
            <input id="webName" class="form-control" type="text" name="webName">
          </div>
          <div class="form-group">
            <label for="username">联系人姓名: </label>
            <input id="username" class="form-control" type="text" name="username">
          </div>
          <div class="form-group">
            <label for="userCarded">联系人身份证: </label>
            <input id="userCarded" class="form-control" type="text" name="userCarded">
          </div>
          <div class="form-group">
            <label for="userPhoneNumber">联系人电话号码: </label>
            <input id="userPhoneNumber" class="form-control" type="number" name="userPhoneNumber">
          </div>
          <div class="form-group">
            <label for="userQQ">联系人QQ: </label>
            <input id="userQQ" class="form-control" type="number" name="userQQ">
          </div>
          <div class="form-group">
            <label for="userAddress">联系人地址: </label>
            <input id="userAddress" class="form-control" type="text" name="userAddress">
          </div>
          <div class="form-group">
            <label for="userPayment">联系人付款方式: </label>
            <input id="userPayment" class="form-control" type="text" name="userPayment" placeholder="如支付宝,银行转账等">
          </div>
          <div class="form-group">
            <label for="userTo">用户所属业务员: </label>
            <input id="userTo" class="form-control" type="text" name="userTo">
          </div>
          <div class="form-group">
            <label for="serverTo">用户所选服务器: </label>
            <select name="serverTo" id="serverTo" class="form-control">
              <% if(serverData){ %>
              <% serverData.forEach(function(data){ %>
                <option value="<%= data._id %>"><%= data.serverId %></option>
              <% }) %>
              <% } %>
            </select>
          </div>
          <div class="form-group">
            <label for="endTime">服务器到期时间: </label>
            <input id="endTime" class="form-control" type="date" name="endTime">
          </div>
          <div class="form-group">
            <label for="isPayment">用户是否付款: </label>
            <input id="isPayment" class="form-control" name="isPayment" type="text">
          </div>
          <!--用户表单结束-->
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">关闭</button>
        <button class="createServer btn btn-info">保存用户</button>
      </div>
      <!--模态框内容结束-->
    </div>
  </div>
</div>

<!--表单更新-->
<div id="updateBox" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="updateTitle" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--更新模态框开始-->
      <div class="modal-header">
        <button class="close" type="button" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
          <span class="sr-only">Close</span>
        </button>
        <h4 id="updateTitle" class="modal-title">
          服务器信息更新
        </h4>
      </div>
      <div class="modal-body">
        <!--form表单开始-->
        <form class="updateData" method="post" role="form">
          <div class="form-group">
            <div class="form-group">
              <label for="name">联系人姓名: </label>
              <input id="name" class="form-control" type="text" name="name">
            </div>
            <div class="form-group">
              <label for="Carded">联系人身份证: </label>
              <input id="Carded" class="form-control" type="text" name="Carded">
            </div>
            <div class="form-group">
              <label for="PhoneNumber">联系人电话号码: </label>
              <input id="PhoneNumber" class="form-control" type="number" name="PhoneNumber">
            </div>
            <div class="form-group">
              <label for="QQ">联系人QQ: </label>
              <input id="QQ" class="form-control" type="number" name="QQ">
            </div>
            <div class="form-group">
              <label for="Address">联系人地址: </label>
              <input id="Address" class="form-control" type="text" name="Address">
            </div>
            <div class="form-group">
              <label for="Payment">联系人付款方式: </label>
              <input id="Payment" class="form-control" type="text" name="Payment" placeholder="如支付宝,银行转账等">
            </div>
            <div class="form-group">
              <label for="uTo">用户所属业务员: </label>
              <input id="uTo" class="form-control" type="text" name="uTo">
            </div>
            <div class="form-group">
              <label for="sTo">用户所选服务器: </label>
              <select name="sTo" id="sTo" class="form-control">
                <option value="1">清空服务器</option>
                <% if(serverData){ %>
                <% serverData.forEach(function(data){ %>
                <option value="<%= data._id %>"><%= data.serverId %></option>
                <% }) %>
                <% } %>
              </select>
            </div>
            <div class="form-group">
              <label for="Ament">用户是否付款: </label>
              <input id="Ament" class="form-control" name="Ament" type="text">
            </div>
            <input type="hidden" name="id" id="myid">
            <input type="hidden" name="serTo" id="servTo">
          </div>
        </form>
        <!--form表单结束-->
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" type="button" data-dismiss="modal">关闭</button>
        <button class=" myUpdateBtn btn btn-info" type="button">更新用户</button>
      </div>
      <!--更新模态框结束-->
    </div>
  </div>
</div>
<!--表单更新结束-->

<div class="tableBox ajaxCallback">
  <table class="table table-bordered table-response table-hover table-primary">
    <thead>
    <tr>
      <th class="text-center text-success">用户名称</th>
      <th class="text-center text-primary">联系人姓名	</th>
      <th class="text-center">联系人身份证	</th>
      <th class="text-center">联系人电话号码	</th>
      <th class="text-center">联系人qq</th>
      <th class="text-center">联系人地址</th>
      <th class="text-center">联系人付款方式</th>
      <th class="text-center">所属的业务员</th>
      <th class="text-center">服务器</th>
      <th class="text-center">IP地址</th>
      <th class="text-center">是否付款</th>
    </tr>
    </thead>
    <tbody id="noS">
    <tr class="searchB">
      <td class="text-center td1"></td>
      <td class="text-center td2"></td>
      <td class="text-center td3"></td>
      <td class="text-center td4"></td>
      <td class="text-center td5"></td>
      <td class="text-center td6"></td>
      <td class="text-center td7"></td>
      <td class="text-center td8"></td>
      <td class="text-center td9"></td>
      <td class="text-center td10"></td>
      <td class="text-center td11"></td>
    </tr>
    </tbody>
  </table>
</div>

<div class="btn-group pull-right" style="padding: 0 1%;">
  <% if(!isFirstPage) { %>
  <a class="pageBtn btn btn-default" href="?page=<%= page-1 %>">上一页</a>
  <% } %>
  <% if(!isLastPage) { %>
  <a class="pageBtn btn btn-default" href="?&page=<%= page+1 %>">下一页</a>
  <% } %>
</div>
<div class="ajaxMessage">
  <h4>提示信息</h4>
  <p class="ajaxText"></p>
  <p class="ajaxDissmiss">
    <button type="button" class="btn btn-info">Close</button>
  </p>
  <div class="clearfix"></div>
</div>
<!--新增用户结束-->
<%- include public/adminFooter.html %>
<script type="text/javascript">
  $(function(){
    //获取表单数据
    var createBtn = $('.createServer'),
        saveUse = $('.saveUse'),
        searchBtn = $('.searchBtn'),
        searchIds = $('.searchIds'),
        updateBtn = $('.updateBtn'),
        myUpdateBtn = $('.myUpdateBtn'),
        alertMessage = $('.ajaxMessage'),
        ajaxContainer = alertMessage.find('.ajaxText'),
        ajaxClose = alertMessage.find('.ajaxDissmiss .btn');
    createBtn.bind('click',function(e){
      e.preventDefault();
      //打印表单信息
      var formData = saveUse.serialize();
      //发送ajax
      $.ajax({
        url:'/users/createUser',
        type:'post',
        dataType:'json',
        data:formData,
        success:function(data,status){
          if(status == 'success'){
            if(data.postStatus === 'success'){
              //注册完成
              alert(data.msg);
              //准备跳转到指定页面
              var urls = window.location.host,
                      urlPath = window.location.pathname;
              return window.location.href = 'http://' + urls + urlPath;
            }else{
              //返回ajax回调信息
              alertMessage.addClass('AjaxBlock');
              ajaxContainer.text(data.msg);
              ajaxClose.on('click',function(e){
                e.stopPropagation();
                alertMessage.removeClass('AjaxBlock')
              });
              return false;
            }
          }
        },
        error:function(err){
          console.log(err)
        }
      });
    });
    //--------------------------更新表单
    updateBtn.bind('click',function(e){
      e.preventDefault();
      var _id = $(this).attr('data-id');
      $.ajax({
        url:'/users/updateUser',
        type:'post',
        dataType:'json',
        data:{
          'id':_id
        },
        success:function(data,status){
          if(status == 'success'){
            if(data.postStatus === 'success'){
              $('#name').val(data.msg.user.username);
              $('#Carded').val(data.msg.user.userCarded);
              $('#PhoneNumber').val(data.msg.user.userPhoneNumber);
              $('#QQ').val(data.msg.user.userQQ);
              $('#Address').val(data.msg.user.userAddress);
              $('#Payment').val(data.msg.user.userPayment);
              $('#uTo').val(data.msg.user.userTo);
              $('#Ament').val(data.msg.user.isPayment);
              $('#myid').val(data.msg._id);
              $('#servTo').val(data.msg.user.serverTo);
            }else{
              //返回ajax回调信息
              alertMessage.addClass('AjaxBlock');
              ajaxContainer.text(data.msg);
              ajaxClose.on('click',function(e){
                e.stopPropagation();
                alertMessage.removeClass('AjaxBlock')
              });
              return false;
            }
          }
        },
        error:function(err){
          console.log(err)
        }
      });
    })
    //---------------更新数据
    myUpdateBtn.bind('click',function(e){
      e.preventDefault();
      var formData = $('.updateData').serialize();
      $.ajax({
        url:'/users/up',
        type:'post',
        dataType:'json',
        data:formData,
        success:function(data,status){
          if(status == 'success'){
            if(data.postStatus === 'success'){
              //注册完成
              alert(data.msg);
              //准备跳转到指定页面
              var urls = window.location.host,
                      urlPath = window.location.pathname;
              return window.location.href = 'http://' + urls + urlPath;
            }else{
              //返回ajax回调信息
              alertMessage.addClass('AjaxBlock');
              ajaxContainer.text(data.msg);
              ajaxClose.on('click',function(e){
                e.stopPropagation();
                alertMessage.removeClass('AjaxBlock')
              });
              return false;
            }
          }
        },
        error:function(err){
          console.log(err)
        }
      })
    });
    //发送查询按钮
    searchBtn.bind('click',function(e){
      e.preventDefault();
      var searchStr = $('.searchStr').val();
      //发送ajax
      sendAJAX('/users/searchStrIp',searchStr)
    });
    //查询服务器编号
    searchIds.bind('click',function(e){
      e.preventDefault();
      var searchStr = $('.searchStr').val();
      //发送ajax
      $.ajax({
        url: '/users/searchIds',
        type:'post',
        dataType: 'json',
        data:{
          str: searchStr
        },
        success:function(data,status){
          //返回值判断
          if(status == 'success'){
            //ajax发送成功
            if(data.postStatus == 'success'){
              //ajax返回值正确
              if(data.msg.length <= 0){
                alert('此ID用户编号关联不存在')
              }else{
                var userData = data.msg,
                  _html = '',
                  _ip = '',
                  _payMent = '';
                userData.forEach(function(data,index){
                  $('.tabList').css({'display':'none'});
                  $('.ajaxCallback').css({'display':'block'});
                  if(data.user.serverTo.ip){
                    _ip = data.user.serverTo.ip;
                  }else{
                    _ip = '当前未配置IP地址';
                  }
                  if(data.user.isPayment == true){
                    _payMent = '已付款';
                  }else{
                    _payMent = '未付款';
                  }
                  var _temp = '<tr class="text-center">' +
                    '<td>'+ data.user.webName +'</td>' +
                    '<td>'+ data.user.username +'</td>' +
                    '<td>'+ data.user.userCarded +'</td>' +
                    '<td>'+ data.user.userPayment +'</td>' +
                    '<td>'+ data.user.userQQ +'</td>' +
                    '<td>'+ data.user.userAddress +'</td>' +
                    '<td>'+ data.user.userPayment +'</td>' +
                    '<td>'+ data.user.userTo +'</td>' +
                    '<td><a href="/server/'+ data.user.serverTo.serverId + '">'+ data.user.serverTo.serverId +'</a></td>' +
                    '<td>'+ _ip + '</td>' +
                    '<td>'+ _payMent +'</td>' +
                    '</tr>';
                  _html += _temp;
                });
                $('#noS').html(_html);
              }
            }else{
              //返回ajax回调信息
              alertMessage.addClass('AjaxBlock');
              ajaxContainer.text(data.msg);
              ajaxClose.on('click',function(e){
                e.stopPropagation();
                alertMessage.removeClass('AjaxBlock')
              });
              return false;
            }
          }else{
            return false;
          }
        },
        error:function(err){
          console.log(err);
        }
      });
    });
    //ajax模块
    function sendAJAX(url,searchStr){
      $.ajax({
        url: url,
        type:'post',
        dataType: 'json',
        data:{
          str: searchStr
        },
        success:function(data,status){
          //返回值判断
          if(status == 'success'){
            //ajax发送成功
            if(data.postStatus == 'success'){
              //ajax返回值正确
              if(data.msg == null){
                alert('此IP地址编号关联不存在')
              }else{
                var userData = data.msg,
                  _html = '';
                $('.tabList').css({'display':'none'});
                $('.ajaxCallback').css({'display':'block'});
                $('.searchB .td1').html(userData.user.webName);
                $('.searchB .td2').html(userData.user.username);
                $('.searchB .td3').html(userData.user.userCarded);
                $('.searchB .td4').html(userData.user.userPayment);
                $('.searchB .td5').html(userData.user.userQQ);
                $('.searchB .td6').html(userData.user.userAddress);
                $('.searchB .td7').html(userData.user.userPayment);
                $('.searchB .td8').html(userData.user.userTo);
                $('.searchB .td9').html('<a href="/server/'+ userData.user.serverTo.serverId +'">'+ userData.user.serverTo.serverId +'</a>');
                if(userData.user.serverTo.ip){
                  userData.user.serverTo.ip.forEach(function(data){
                    var temp = '<span>'+ data +'</span><br/>';
                    _html += temp;
                  });
                }else{
                  _html += '当前未配置IP地址';
                }
                $('.searchB .td10').html(_html);
                if(userData.user.isPayment == true){
                  $('.searchB .td11').html('已付款');
                }else{
                  $('.searchB .td11').html('未付款');
                }
              }
            }else{
              //返回ajax回调信息
              alertMessage.addClass('AjaxBlock');
              ajaxContainer.text(data.msg);
              ajaxClose.on('click',function(e){
                e.stopPropagation();
                alertMessage.removeClass('AjaxBlock')
              });
              return false;
            }
          }else{
            return false;
          }
        },
        error:function(err){
          console.log(err);
        }
      });
    }
  });
</script>