html,body{
  width:100%;
  height:100%;
}
body {
  font: 62.5% "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color:#2fa4e7;
}
.nav a{
  color: #3a3a3a;
}
.cwBox{
  padding:0 1%;
}
.table,
.ps,
.modal{
  font-size:1.2rem;
}
/*用户登录页面 css begin*/
.loginContainer{
  position:relative;
  width:100%;
  height:100%;
  background:url("../images/login_bg.png") no-repeat 50%;
  /*自适应背景图片*/
  -webkit-background-size:cover;
  background-size:cover;
}
.loginBox::before{
  display: block;
  margin:30px auto 25px;
  content: '';
  width:120px;
  height:8px;
  background-color: #571550;
  border:solid 2px #9c7397;
  border-top-left-radius: 6px;
  border-bottom-left-radius:6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius:6px;
}
/*用户登陆窗口 begin*/
.loginBox{
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-240px;
  margin-top:-160px;
  width:480px;
  height:320px;
  background-color: rgba(255,255,255,0.3);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
.regBox{
  height:350px;
}
.header_title{
  margin-bottom:25px;
  text-align: center;
}
.header_title h1{
  padding:5px 0;
  margin:0 auto;
  font-size:2.0rem;
  color: #f5f1f2;
  font-weight:bold;
}
.loginForm{
  width:100%;
}
.loginForm label{
  position: relative;
  display: block;
}
.loginForm .form-control{
  margin:0 auto;
  width:70%;
}
.loginForm .formUser{
  margin-bottom:25px;
  text-indent:20px;
  background-color: transparent;
  color: #fff;
  font-size:1.4rem;
}
input::-webkit-input-placeholder{
  color: #fff !important;
}
.loginForm .formIcon{
  position: absolute;
  top: 6px;
  left: 80px;
  font-size: 2.0rem;
  color: #fff;
}
.loginForm .loginBtn{
  background-color: #d4d4d4;
  color: #a0598c;
}
.modalData .form-group{
  margin-bottom:10px;
}
.serverUse,
.serverIpAddress,
.serverIP{
  display: none;
}
.trueBlock{
  display: block !important;
}
/*用户登录窗口 end*/
/*用户登录页面 css end*/

/*网站首页导航条 begin*/
.navTitle h1{
  margin:0;
  padding:15px 10px;
  font-size:1.6rem;
  font-weight:bold;
}
.navTitle{
  background-color: #fff;
  border-bottom:1px solid #F5EFF5;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,-0.84),0 1px 4px rgba(0,0,0,.20);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,-0.84),0 1px 4px rgba(0,0,0,.20);
  box-shadow: 0 1px 4px rgba(0,0,0,-0.84),0 1px 4px rgba(0,0,0,.20);
}
.navTitle h1>span{
  display: inline-block;
  height: 34px;
  line-height: 34px;
  font-weight:bolder;
  color: gray;
}
.navTitle .btn{
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  background-color:#2ECC71;
  outline:none;
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}
.navTitle .btn:focus{
  outline:none;
}
.navTitle .btn .fa{
  color: #fff;
}
.navTitle .btn:hover{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.logout{
  display: inline-block;
  padding:0 8px;
  height:34px;
  line-height:34px;
}
.logout .fa{
  font-size:2.6rem;
  vertical-align: middle;
}
.headerUser{
  font-size:1.2rem;
}
#navbarList li a{
  font-size:1.4rem;
  color: #3a3a3a;
}
#navbarList .navbar-nav{
  margin:0 auto;
  width:98%;
}
.ps{
  padding:15px 0 0;
  margin-right:15px;
  letter-spacing: 1px;
}
/*网站首页导航条 end*/
.noBlock{
  display: none !important;
}
.yesBlock{
  display: block;
}
/*网站主体内容 begin*/
.imgHello{
  position: absolute;
  top:40%;
  right:4%;
}
.ajaxMessage{
  display: none;
  position: fixed;
  top:50%;
  left:50%;
  width:300px;
  height:150px;
  margin-top:-75px;
  margin-left:-150px;
  background-color: rgba(0,0,0,0.5);
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  z-index:99999;
}
.AjaxBlock{
  display: block;
}
.ajaxMessage h4{
  margin:0 auto;
  padding:9px 0;
  text-align: center;
  color: #d4d4d4;
  font-size:1.6rem;
  border-bottom: solid 1px #696969;
}
.ajaxText{
  padding:10px;
  height:60px;
  overflow:hidden;
  color: #d4d4d4;
  font-size:1.4rem;
  margin-bottom:15px;
  border-bottom:solid 1px #525252;
}
.ajaxDissmiss .btn{
  float: right;
  margin-right:5px;
}
.only-p{
  margin:20px 0;
  width:100%;
}
.only-p .btn{
  margin-right:15px;
}
.tableBox{
  padding:0 1%;
  width:100%;
}
.form-group option{
  font-size:1.4rem;
}
.iconFont{
  vertical-align: middle;
}
.iconFont a:hover{
  text-decoration: none;
}
.form-group textarea{
  color: #333;
}
.textSize{
  font-weight:700;
}
.row{
  margin:0;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
  padding:0;
}
.ajaxCallback{
  display: none;
}
.h{
  height:10px;
  width:100%;
}
.toReg{
  margin-right: 10px;
  margin-top: 20px;
  text-align: right;
  color: white;
  font-size:1.2rem;
}
.nav-pills{
	font-size:1.2rem;
}
/*网站主体内容 end*/

/*media响应文件*/
@media screen and (max-width: 500px){
  .loginBox{
    width:100%;
    left:0;
    margin-left:0;
  }
  .loginForm .formIcon{
    left:17%;
  }
  .loginForm .formUser{
    text-indent:6%;
  }
}
@media screen and (max-width: 600px){
  .imgHello{
    max-width:320px;
  }
}
@media screen and (max-width: 365px){
  .headerUser{
    display: none;
  }
}