</div>
</div>
</div>
<nav class="pull-right" id="pageSizes" style="padding:0 1%">
  <% if(maxPage !== 0){ %>
  <ul class="pagination">
    <% if(!isFirstPage){ %>
    <li ><a href="?page=<%= page-1 %>">&laquo;</a></li>
    <% }else{ %>
    <li class="disabled"><span>&laquo;</span></li>
    <% } %>
    <li class="active"><a href="?page=1%>">1</a></li>
    <% if(((page-page) + 2) > maxPage){ %>
    <% }else{ %>
    <li ><a href="?page=<%= (page-page) + 2%>"><%= (page-page) + 2 %></a></li>
    <% } %>
    <li><span>.....</span></li>
    <li ><a href="?page=<%= (maxPage)%>"><%= maxPage %></a></li>
    <% if(!isLastPage){ %>
    <li ><a href="?page=<%= page+1 %>">&raquo;</a></li>
    <% }else{ %>
    <li class="disabled"><span>&raquo;</span></li>
    <% } %>
  </ul>
  <% } %>
</nav>
<%- include adminFooter.html %>