<%- include adminHead.html %>
<div class="container only-p">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
      <!--左侧导航-->
      <ul class="nav nav-pills nav-stacked" role="tabList">
        <li class="active" role="presentation">
          <a href="/skillfully">已启用服务器查询</a>
        </li>
        <li role="presentation">
          <a href="/5day">5天内到期</a>
        </li>
        <li role="presentation">
          <a href="/7day">7天内到期</a>
        </li>
        <li role="presentation">
          <a href="/15day">15天内到期</a>
        </li>
        <li role="presentation">
          <a href="/serverPics">服务器续费</a>
        </li>
        <li role="presentation">
          <a href="/priceHost">服务器续费记录</a>
        </li>
      </ul>
    </div>
    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
      <!--右侧内容-->
      <div class="cwBox">